@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{padding: 0; margin: 0;}
ol,ul{list-style: none;}
a{text-decoration: none; color: inherit;}
img{border: none;  display: block;}
li{list-style: none;}


@font-face {
  font-family: "Showcard-Gothic";
  src: url("../fonts/SHOWG.TTF.woff") format('truetype');;
}
body{ font-family:"Showcard-Gothic" ; font-size: 135px; }


#box1{width: 400px; height: 300px; background-color: #fff; display: block; 
  position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%);}
#box1 .box{width: 300px; height: 300px; background-color: #fff; display: block; position: absolute; border-radius: 100%;
  left: 250px;}
#box1 .xob{width: 300px; height: 300px; background-color: #fff; display: block; position: absolute; border-radius: 100%;
  right: 250px;}

#box2{width: 450px; height: 370px; background-color: #FFEDA7; display: block; 
  position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%);}
#box2 .box{width: 370px; height: 370px; background-color: #FFEDA7; display: block; position: absolute; border-radius: 100%;
  left: 260px;}
#box2 .xob{width: 370px; height: 370px; background-color: #FFEDA7; display: block; position: absolute; border-radius: 100%;
  right: 440px;}
  
#box3{width: 480px; height: 400px; background-color: #fff; display: block; 
  position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%);}
#box3 .box{width: 370px; height: 400px; background-color: #fff; display: block; position: absolute; border-radius: 100%;
  left: 290px;}
#box3 .xob{width: 370px; height: 400px; background-color: #fff; display: block; position: absolute; border-radius: 100%;
  right: 470px;}


p{position: fixed; top: 50%; left: 50%;
  transform: translate(-50%, -50%); color: #FFEDA7;}


#back .back1 li a{padding-top: 50%; padding-left: 50%;   background-color: #FFEDA7; display: block; float: left;}
#back .back2 li a{padding-top: 50%;  padding-right: 50%;  background-color: #FFEDA7; display: block;}











